{% extends "admin_panel/base.html" %}

{% block content %}

<div class="card-box">

    <h2 class="text-danger">

        Delete Course

    </h2>

    <hr>

    <p>

        Are you sure you want to delete

        <strong>{{ course.title }}</strong>?

    </p>

    <form method="POST">

        {% csrf_token %}

        <button class="btn btn-danger">

            Yes, Delete

        </button>

        <a href="{% url 'admin_courses' %}"
           class="btn btn-secondary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}