{% load static %}

<nav class="top-navbar">

    <div class="navbar-left">

        <h4>
           {% if request.user.first_name %}

Welcome Back,

{{ request.user.first_name }}

👋

{% else %}

Welcome Back,

{{ request.user.username }}

👋

{% endif %}
        </h4>

        <p>Let's continue your learning journey.</p>

    </div>

    <div class="navbar-right">

        <div class="search-box">

            <i class="fas fa-search"></i>

            <input
                type="text"
                placeholder="Search courses..."
            >

        </div>

        <div class="notification dropdown">

    <i
        class="fas fa-bell"
        id="notificationDropdown"
        data-bs-toggle="dropdown"
        style="cursor:pointer;"
    ></i>

    {% if notifications %}
        <span class="notification-dot"></span>
    {% endif %}

    <ul class="dropdown-menu dropdown-menu-end notification-menu shadow">

    <li class="dropdown-header">

        <strong>Notifications</strong>

    </li>

    {% for n in notifications %}

    <li>

        <div class="dropdown-item">

            <div class="fw-bold">

                {{ n.title }}

            </div>

            <small class="text-muted">

                {{ n.message|truncatechars:70 }}

            </small>

            <br>

            <small class="text-secondary">

                {{ n.created_at|date:"d M Y H:i" }}

            </small>

        </div>

    </li>

    {% if not forloop.last %}

    <li><hr class="dropdown-divider"></li>

    {% endif %}

    {% empty %}

    <li>

        <div class="dropdown-item text-center">

            No Notifications

        </div>

    </li>

    {% endfor %}

</ul>

</div>

       <div class="profile">

    <img src="{% static 'images/avatar.png' %}"
         alt="Profile">

    <div>

        {% if request.user.first_name %}

            <h6>

                {{ request.user.first_name }}
                {{ request.user.last_name }}

            </h6>

        {% else %}

            <h6>

                {{ request.user.username }}

            </h6>

        {% endif %}

        <small>

            {{ request.user.email }}

        </small>

    </div>

</div>



</nav>