{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-header">

            <i class="fas fa-user-plus auth-logo"></i>

            <h2>Create Account</h2>

            <p>Join AI LearnMate 🚀</p>

        </div>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
                {{ form.first_name }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-at"></i>
                </span>
                {{ form.username }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                </span>
                {{ form.email }}
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
                {{ form.password }}
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                </span>
                {{ form.confirm_password }}
            </div>

            <button class="btn btn-primary w-100 login-btn">
                Register
            </button>

        </form>

        <div class="text-center mt-4">
            Already have an account?
            <a href="{% url 'login' %}">
                Login
            </a>
        </div>

    </div>

</div>

{% endblock %}